/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* END OF RESET */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Quicksand";
  line-height: 1;
}

.container {
  width: 900px;
  height: 500px;
  background-color: #fff;
  border-radius: 50px;
  position:relative;
  border: solid 1px black;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 2rem;
  font-size: 3rem;
}

#locContainer {
  display:flex;
}

#locContainer span {
  font-size: 1.5rem;
  align-self:flex-end;
  padding: 3px
}

.icon {
  width:400px;
  height: 300px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: -280px;
  border-radius: 40px;
  border: 1px solid black;
  display:flex;
  justify-content: center;
  align-items:center;
  padding: 10px;
}

.temp {
  min-width: 100px;
  max-width: fit-content;
  border-radius: 30px;
  height: 100px;
  position:absolute;
  right: 20px;
  bottom: 20px;
  display:flex;
  justify-content:center;
  align-items:center;
  border: 1px solid black;
  padding: 0 5px;
  z-index: 1;
  background-color: white;
}

.topline {
  display:flex;
  justify-content:space-between;
  font-weight: 500
}

.bottomline {
  display: flex;
  justify-content:space-between;
}

.bottomline>div {
  display:flex;
  gap: 1px;
}

.bottomline span {
  font-size: 1rem;
  align-self:flex-end;
  font-weight: 500;
}

.timeline {
  width: 86%;
  height: 300px;
  border: 1px solid black;
  margin-left: auto;
  border-bottom-right-radius: 40px;
  corner-bottom-right-shape: bevel;
  position:relative;
}